.help-block {
    color: #f44336 !important;
    margin-top: -10px !important;
    text-align: left;
}
.has-error input {
    border: 1px solid #f44336;
}
.has-error > .glyphicon {
    color: red !important;
}
.glyphicon.glyphicon-remove.right-icon {
    left: auto !important;
    position: absolute;
    right: 8px !important;
    top: 16px;
}
.glyphicon.glyphicon-ok.right-icon {
    left: auto !important;
    position: absolute;
    right: 8px !important;
    top: 16px;
    color: green !important;
}

.validcs > .glyphicon{
    color: green !important;
}
.validcs{
    position: relative;
}
.has-error  {
    position: relative;
}
